

body {
    background-color: #F6F6E9;
    font-family: 'Lato', sans-serif;
}

main {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img {
    width: 300px;
}